* {
    padding: 0;
    margin: 0;
}

body {
    background: #34ceed;
    background: linear-gradient(90deg, rgba(52, 206, 237, 1) 0%, rgba(73, 81, 237, 1) 100%, rgba(83, 186, 237, 1) 58%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 80vh;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0px 0px 10px 5px white;
}

form h1 {
    text-align: center;
}

label {
    width: 100%;
    text-align: start;
}

input {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    box-sizing: border-box;
}

button {
    width: 100px;
    border: none;
    height: 40px;
    border-radius: 20px;
    background-color: dodgerblue;
}

button:hover {
    box-shadow: 0px 0px 5px 5px rgb(104, 173, 241);
    transform: translateY(-10px);
}